<p class="btn btn-success btn-lg" id="notice"><%= notice %></p><br>
<% if current_user%>
<p class="text-center text_color">Welcome <%= current_user.name%></p>
<img class="margin" src="<%= current_user.image%>" >
<%= link_to "Sign Out", signout_path, class:"btn btn-primary"%>
<% end %>


<div class="input_field">
	<input type="textarea" class="form-control" placeholder="Enter Your Tweet Here" maxlength="124">
	<input style="color: #1DA1F2" class="btn-sm input" type="submit" value="tweet" id="submit">

</div>

<div id="textarea_feedback">
	
</div>

<% if @tweets.present? %>
	<% @tweets.each do |tweet|%>
		<div class="input_field">
			<%= tweet.contant %><hr>
		</div>	
	<% end %>
<% end %>
			
<script>
	$(document).ready(function(){
	
		$('#submit').click(function(){
			var value = $('#tweet').val();
		    $.post("/tweets",
		    {
		        tweet: value
		    },
		    function(data, status){
		        
		       
		    });
		});

		var text_max = 124;
			$('#textarea_feedback').html(text_max + ' characters remaining');
			$('#tweet').keyup(function(){

				var text_length = $('#tweet').val().length;
				var text_remaining = text_max - text_length;
				$('#textarea_feedback').html(text_remaining + ' characters remaining')
			});

		});
</script>


			
