<p  id="notice"><%= notice %></p><br>
<% if current_user %>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-1 margin_bottom">
			<img class="img-circle image_size" src="<%= current_user.image %>" >
		</div>
		<div class="col-md-3" >
			<h4 class= "name_color">Welcome <%= current_user.name %>!</h4> 
			
		</div>
	</div>
	
	
<% end %>



	<div class="row ">
		<input class="input" type="textarea" id="tweet" class="textarea" placeholder="Enter Your Tweet Here" maxlength="124">
		<input class="tweet" style="color: #1DA1F2"  type="submit" value="tweet" id="submit">
	</div>
	



<h5 class="text" id="textarea_feedback"></h5>

<% if @tweets.present? %>
	<% @tweets.each do |tweet|%>
		<div class="input_field margin">
			<div><h3><%= tweet.user.name%> <small><%= tweet.contant %></small></h3></div>
		</div>	
	<% end %>
<% end %>
			
<script>
	$(document).ready(function(){
		
		$('#submit').click(function(){
			var value = $('#tweet').val();
		    $.post("/tweets",
		    {
		        tweet: value
		    },
		    function(data, status){
		        
		       
		    });
		});

		var text_max = 124;
			$('#textarea_feedback').html(text_max + ' characters remaining');
			$('#tweet').keyup(function(){

				var text_length = $('#tweet').val().length;

				var text_remaining = text_max - text_length;
				$('#textarea_feedback').html(text_remaining + ' characters remaining')
			});

		});
</script>




			
