<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

<div  class="container">
	<div style="background-color: #D9E7FE" class="jumbotron">
    <%= yield %>
  </div>
</div>
    
  </body>
  <nav class="navbar navbar-default" >    
      <div class="container-fluid ">
        
        <div style="background-color: #D9E7FE" class="row">
          
          <div class="col-md-2 text_color">
            <ul><a href="#">Connect with Us</a></ul>
            <ul><a href="#">Facebook</a></ul>
            <ul><a href="#">Twitter</a></ul>
            <ul><a href="#">Instagram</a></ul>
          </div>

        </div>
      </div>
    </nav>
</html>
